<div class="d-flex justify-content-around align-items-center mb-4" style="width: 65%; height: 83vh; text-align: center; margin: 2rem 2rem 5rem 15rem;">
  <section>
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form [formGroup]="changePassForm" (submit)="onSubmit($event)">
              <!-- Username input -->
              <div class="form-floating mb-4">
                <input type="text" id="username" class="form-control form-control-lg" formControlName=taiKhoan />
                <label class="form-label" for="username">Username</label>
                <div  *ngIf="taiKhoan && taiKhoan.invalid && taiKhoan.touched">
                  <small id="usernameError" class="form-text  text-danger">Username Required</small>
                </div>
              </div>

              <!-- Password input -->
              <div class="form-floating mb-4">
                <input type="password" id="pw" class="form-control form-control-lg" formControlName=matKhauMoi/>
                <label class="form-label" for="pw">Mật Khẩu Mới</label>
                <div  *ngIf="matKhauMoi && matKhauMoi.invalid && matKhauMoi.touched">
                  <small id="usernameError" class="form-text  text-danger">Password Required</small>
                </div>
              </div>

              <div class="form-floating mb-4">
                <input type="password" id="pwcf" class="form-control form-control-lg" formControlName=confirmPass/>
                <label class="form-label" for="pwcf">Nhập Lại Mật Khẩu Mới</label>
                <div  *ngIf="confirmPass && confirmPass.invalid && confirmPass.touched">
                  <small id="usernameError" class="form-text  text-danger">Confirm Password Required</small>
                </div>
                <div  *ngIf="changePassForm.errors?.['valuesNotMatch']">
                  <small id="usernameError" class="form-text  text-danger">Mật khẩu không trùng khớp</small>
                </div>
              </div>
              <!-- Submit button -->
              <button type="submit" [disabled]="loading || changePassForm.invalid" class="btn btn-primary btn-lg btn-block" style="width: 100%;">
                <ng-container *ngIf="loading">
                  <app-my-spinner />
                </ng-container>
                <ng-container *ngIf="!loading">
                  Sign Up
                </ng-container>
              </button>
            </form>

          </div>
        </div>
      </div>

    </section>

</div>

