<main class="mt-5">
  <div class="container">
    <!--Section: Content-->
    <section>
      <div class="row">
        <h4 class="mb-5 text-center"><strong>GIỚI THIỆU</strong>
          <hr class="hr hr-blurry" />
        </h4>
        <div class="col-md-6 gx-5 mb-4">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img src="https://mdbootstrap.com/img/new/slides/031.jpg" class="img-fluid" />
            <a href="#!">
              <div class="mask" style="background-color: rgba(251, 251, 251, 0.15);"></div>
            </a>
          </div>
        </div>

        <div class="col-md-6 gx-5 mb-4">
          <h4><strong>QUÁN ĂN NHOAM NHOAM</strong></h4>
          <p class="text-muted">
           Là quán ăn chuyên cung cấp văn hóa ẩm thực Việt Nam nói riêng, văn hóa ẩm thực thế giới nói chung. Chúng tôi cũng cung cấp ẩm thực Việt Nam nói riêng và ẩm thực thế giới nói chung
          </p>
          <p><strong>HỆ THỐNG QUÁN ĂN TIỆN LỢI, KHÔNG GIAN THOẢI MÁI</strong></p>
          <p class="text-muted">
            Hệ thống bao gồm một cơ sở dữ liệu rõ ràng, quản lý hệ thống chặt chẽ, cung cấp các giao diện tiện ích – thoải mái – thân thiện cho người dung có thể sử dụng cũng như một hệ thống bảo mật tốt để người dùng có thể đăng ký- đăng nhập ứng dụng sử dụng các dịch vụ của hệ thống quán ăn một cách yên tâm và tin cậy nhất
          </p>
        </div>
      </div>
    </section>
