<div class="d-flex justify-content-around align-items-center mb-4" style="width: 65%; height: 83vh; text-align: center; margin: 2rem 2rem 5rem 15rem;">
  <section>
      <div class="container py-5 h-100">
        <div class="row d-flex align-items-center justify-content-center h-100">
          <div class="col-md-8 col-lg-7 col-xl-6">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.svg"
              class="img-fluid" alt="Phone image">
          </div>
          <div class="col-md-7 col-lg-5 col-xl-5 offset-xl-1">
            <form [formGroup]="forgotForm" (submit)="onSubmit($event)">
              <!-- FirstName input -->


              <!-- Email input -->
              <div class="form-floating mb-4">
                <input type="email" id="email" class="form-control form-control-lg" formControlName=email/>
                <label class="form-label" for="email">Email</label>
                <div  *ngIf="email && email.invalid && email.touched">
                  <small id="usernameError" class="form-text  text-danger">Email Required</small>
                </div>
              </div>


              <!-- Submit button -->
              <button type="submit" [disabled]="loading || forgotForm.invalid" class="btn btn-primary btn-lg btn-block" style="width: 100%;">
                <ng-container *ngIf="loading">
                  <app-my-spinner />
                </ng-container>
                <ng-container *ngIf="!loading">
                  Gửi
                </ng-container>
              </button>
            </form>

          </div>
        </div>
      </div>

    </section>

</div>

